<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <center>
        <h1 class="login-h">Signup</h1>

        <form class="login" action="/signup/auth" method="post">
            <input type="text" placeholder="Username" name="username" class="field" />
            <input type="text" placeholder="Email" name="email" class="field" />
            <input type="text" placeholder="Password" name="password" class="field" />
            <input type="submit" value="signup" class="btn">
        </form>
        <h4><a href="{{url_for('login')}}">Login</a></h4>
        {% block content %}
        {% if msg %}
        <center>{{msg}}</center>
        {% endif %}
        {% endblock %}

    </center>
</body>

</html>